html {
    background: url(images/sunset.jpg) no-repeat;
    background-size: 1550px 850px;
}
#content {
    width: 25%;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 17px;
    border-radius: 15px;
    margin: 250px auto;
}
#date {
    text-align: center;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
#clock {
    text-align: center;
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}